{% extends "home/homebase.html"%}
{% block title%}Sagar Group of Institutions{%endblock%}
{%load static%}
{%block style%}

{%endblock%}
{% block content%}

<div class="row my-8 mx-4">
    <div class="col-md-12">
        <h1 style="text-align: center;">Sagar Institute of Research Technology & Science, Bhopal</h1>
    </div>
</div>
<div class="row my-8 mx-4">
    <div class="col-md-12">
    <div class="col-md-4">
        <div class="card">
              <div class="container">
                <h2 style="color:rgb(171, 71, 188)">How to Reach Us ?</h2>
                <h3>The Sagar Institute of Research,Technology & Science which works under the banner of Sagar Group of Institutions is situated at the main location of Bhopal.You can reach very easy to us by train, bus, and airplane. It is 6 Km away from 
                     Inter State Bus Terminal (ISBT) and also 7 Km from Bhopal Central Railway Station
                      and 10 Km from Habibganj Railway Station. If you can come by airplane then it is 
                      17 Km from Raja Bhoj International Airport. The traffic in Bhopal is very easy and
                       you can reach us by passing the serene beauty of Bhopal.</h3><br>
            </div>
            
            <div class="row">
                <div class="col-md-12">
                <div class="col-md-12">
                    <h2 style="color:rgb(171, 71, 188)"> <i class="fa fa-map-marker"  style="padding: 0;margin:0;height:0;"></i> Contact Location </h2>
                  </div>
                  <div class="col-md-12">
                    <h3> Ayodhya Bypass Road, Opposite Minal Residency, Bhopal Madhya Pradesh , India , 462041<h3>
                  </div>
                  </div>

              </div>
          </div>
    
        </div>
        <div class="col-md-8">
            <div class="card">
           
              <div class="row">
                <div class="col-md-12">
                <div class="col-md-3">
                    <h3 style="color:rgb(171, 71, 188)"> <i class="fa fa-envelope-o" style="padding: 0;margin:0;height:0;"></i> Contact E-mail ID  </h3>
                  </div>
         
                  <div class="col-md-9">
                    <h3> sirtsbhopal@sirtsbhopal.ac.in</h3>
                  </div>
                  </div>

              </div>
              <div class="row">
                <div class="col-md-12">
                <div class="col-md-3">
                    <h3 style="color:rgb(171, 71, 188)"> <i class="fa fa-phone" style="padding: 0;margin:0;height:0;"></i> Admission Contact </h3>
                  </div>
                  <div class="col-md-9">
                    <h3>Counseling Cell : 7773008591, 7773008592 </h3>
                    <h3> Mr. Sarvesh Shukla: 99263 47191,0755- 3983154</h3>
                  </div>
                  </div>

              </div>
              <div class="row">
                <div class="col-md-12">
                <div class="col-md-3">
                    <h3 style="color:rgb(171, 71, 188)"> 	
                      <i class="fa fa-phone"style="padding: 0;margin:0;height:0;" ></i>   Registrar </h3>
                  </div>
                  <div class="col-md-9">
                    <h3> 0755 - 3983106 , 8889133318</h3>
                  </div>
                  </div>

              </div>
              <div class="row">
                <div class="col-md-12">
                <div class="col-md-3">
                    <h3 style="color:rgb(171, 71, 188)"> 	
                      <i class="fa fa-envelope-o" style="padding: 0;margin:0;height:0;"></i>    Admission E-mail  </h3>
                  </div>
                  <div class="col-md-9">
                    <h3> admission@ sirtbhopal.ac.in</h3>
                  </div>
                  </div>

              </div>
              <div class="row">
                <div class="col-md-12">
                <div class="col-md-3">
                    <h3 style="color:rgb(171, 71, 188)"> 	<i class="fa fa-phone" style="padding: 0;margin:0;height:0;"></i>
                        	
Bus Incharge</h3>
                  </div>
                  <div class="col-md-9">
                    <h3> 0755-3983106, 9893034905</h3>
                  </div>
                  </div>

              </div>
              <div class="row">
                <div class="col-md-12">
                <div class="col-md-3">
                    <h3 style="color:rgb(171, 71, 188)">  <i class="fa fa-phone" style="padding: 0;height:0;margin:0;"></i> Contact Number</h3>
                  </div>
                  <div class="col-md-9">
                    <h3>    0755–3983100, 01,02</h3>
                  </div>
                  </div>

              </div>
              
            </div>
      
            </div>
            
        
        
        
        
        
          
        
        
        
        
        
        
            <div class="col-md-12" >
       
       
                <div class="card" >
                 
                    <div class="container">
                        
                        <h2 style="color:rgb(171, 71, 188)">Google Map <i class="fa fa-map-marker" ></i> </h2> 
                    </div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29318.575898070016!2d77.4106377109907!3d23.28591709691522!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x397c6992e39e0c75%3A0x7f197843e3291b19!2sSagar%20Institute%20of%20Research%20%26%20Technology(SIRT)%20-%20Best%20Engineering%20College%20in%20Bhopal!5e0!3m2!1sen!2sin!4v1601354655046!5m2!1sen!2sin" width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
               
                    </div>
        
            </div>
        </div>
        
        </div>
        
    </div>
  











    {% include 'home/footer.html' %}
{%endblock%}

