
<footer class="new_footer_area bg_color">
    <div class="new_footer_top" style="
        padding: 0px 0px 183px;
      
   ">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-6">
                    <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_600 t_color f_size_18">Download</h3>
                        <ul class="list-unstyled f_list">
                            <li><a href="https://www.sirtsbhopal.ac.in/uploads/anti%20ragging%20committee.pdf">Anti Ragging Form</a></li>
                            <li><a href="https://www.sirtsbhopal.ac.in/online-payment.php">Online Fee</a></li>
                            <li><a href="http://sacsgi.sirtbhopal.ac.in/registration.php">Sac Registration form</a></li>
                            <li><a href="https://www.sirtsbhopal.ac.in/alumni.php">Alumini Registration form</a></li>
                            <li><a href="https://www.sirtsbhopal.ac.in/academic-calendar.php">Academic calender</a></li>
                            <li><a href="https://www.sirtsbhopal.ac.in/videolecture.php">Video Lecture</a></li>
                        </ul>
                        
                    </div>
                </div>

                <div class="col-lg-2 col-md-6">
                    <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_600 t_color f_size_18">Quick Link</h3>
                        <ul class="list-unstyled f_list">

                            <li><a href="{%url "home" %}">Home</a></li>
                            <li><a href="/account/hodlogin/">Hod Login</a></li>
                            <li><a href="/account/adminlogin/">Admin Login</a></li>
                            <li><a href="/account/student_login/">Student Login</a></li>
                            <li><a href="/account/teacherlogin/">Teacher Login</a></li>
                            <li><a href="{%url "contact_us" %}">Contact</a></li>
                        </ul>
             
                    </div>
                </div>
                <div class="col-lg-2 col-md-6">
                    <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_600 t_color f_size_18">Suggested Links</h3>
                        <ul class="list-unstyled f_list">
                             <li><a href="https://www.aicte-india.org/">AICTE</a></li>
                            <li><a href="http://www.mptechedu.org/">MP-DTE</a></li>
                            <li><a href="https://www.aicte-india.org/">Scholarship</a></li>
                            <li><a href="http://www.mponline.gov.in/portal/">MP Online</a></li>
                            <li><a href="http://www.rgpvonline.com/">RGPV Old Paper</a></li>
                            <li><a href="https://www.aicte-india.org/">Feedback AICTE</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6">
                    <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_600 t_color f_size_18">Sister Concerns</h3>
                        <ul class="list-unstyled f_list">
                            <li><a href="http://www.sirtbhopal.ac.in/">SIRT</a></li>
                            <li><a href="https://sirtebhopal.ac.in/">SIRT-E</a></li>
                            <li><a href="http://www.sirtpharmacy.ac.in/">SIRT-P</a></li>
                            <li><a href="http://sirtspharmacy.ac.in/">SIRTS-P</a></li>
                            <li><a href="https://sisbhopal.edu.in/AyodhyaNagar/">Sagar International School</a></li>
                            <li><a href="http://sageuniversity.edu.in/">Sage University Bhopal</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="f_widget social-widget pl_70 wow fadeInLeft" data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInLeft;">
                        <h3 class="f-title ">Social Networks!</h3>
                        <div class="f_social_icon">
                            <a href="https://www.facebook.com/sirts1" class="fa fa-facebook"></a>
                            <a href="https://twitter.com/sirtsbhopal" class="fa fa-twitter"></a>
                            <a href="https://plus.google.com/u/0/118092989000939210253" class="fa fa-google"></a>
                            <a href="https://www.linkedin.com/company-beta/13422953" class="fa fa-linkedin"></a>
                            <a href="https://www.youtube.com/channel/UCJtfU0CRxG8tZlhQOgNNJiQ" class="fa fa-youtube"></a>
                            <a href="https://www.instagram.com/sirte_bhopal/" class="fa fa-instagram"></a>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bg">
            <div class="footer_bg_one"></div>
            <div class="footer_bg_two"></div>
        </div>
    </div>
  
  </footer>