
{%extends "base.html"%}

{%	block	title	%}Reset	your	password{%	endblock	%}
{% block content%}
<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title">We've emailed you instructions for reset	your password.</h4>
  
        </div>
       
          <div class="card">
            <div class="card-header card-header-primary">
  
                <h5 class="card-title">If you don't	receive	an	email,	please	make sure you've entered the address you	registered	with :)</h6>
              </div>
           
          </div>
        </div>
    </div>

{% endblock%}
