{%	extends	"base.html"	%}
{%	block	title	%}reset password{%	endblock	%}

{% block script%}

{%endblock%}
{%block style%}

.center{
  margin:auto;
margin-top:100px;
 max-width:500px;
}
{%endblock%}



{%	block	content	%}

{% include 'messages.html' %}
  
    
<div class="center">



      <div class="card ">

        <div class="card-header card-header-primary">
          <h4 class="card-title">Password Reset</h4>
      <p>Enter  e-mai to	Recover Password</p>
        </div>
  
        <div class="card-body">
          <form class="login-form" method="post" action="."	>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  {%	csrf_token	%}
       
               {{	form.as_p	}}
                </div>
              </div>
            </div>
            
              
       <button class="btn btn-primary pull-right" type="submit" >Send Email</button>
              
             
              
              
            </form>
         

      </div>
    </div>
  

  {%	endblock	%}
