{%	extends	"base.html"	%}
{%	block	title	%}Reset	your	password{%	endblock	%}
{%block style%}
.form {
  background-size: 100% 100%, 100% 100%;
  transition-duration: 0.3s;
  box-shadow: none;
}
.form input{
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 500px;
    margin: 0 auto 100px;
    padding: 20px;
    
    box-shadow: 0 0 -1px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.15);
  }
  .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }  
  .form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #0b3035;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  .form button:hover,.form button:active,.form button:focus {
    background: brown;
  }

  
{%endblock%}

{% block content%}


<div align="center" class="my-4">
    {% if messages %}
    <ul	class="messages">
    {%	for	message	in	messages	%}						
    <li	class="{{	message.tags	}}">								
     <p style="color:purple"> {{	message|safe	}}	</p>									
      <a	href="#"	class="close">x</a></li>				
      {%	endfor	%}		
    </ul> 
    {%	endif %}
    </div>
            
<div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title">Reset	your	password</h4>
          <p class="card-category">Please	enter	your	new	password	twice:</p>
        </div>
  
        <div class="card-body">
         
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                    {%	if	validlink	%}		
             		
                    <form	action="." class="form"	method="post">	

                    {{	form.as_p	}}	
                {%	csrf_token	%}	
                {% if form.errors %}{{ field.errors }}{%endif%}		
                <button class="btn btn-primary pull-right" type="submit" >Change My Password</button>		
                </form>	
                {% if messages %}	
                
          <ul	class="messages"> 
                {%	for	message	in	messages	%}						
                <li	class="{{	message.tags	}}">								
                 <p style="color:purple"> {{	message|safe	}}	</p>									
                  <a	href="#"	class="close">x</a></li>				
                  {%	endfor	%}		
                </ul> 
                {%	endif %}

                {%	else	%}
                <p>.</p>	
                <div class="card">
                    <div class="card-header card-header-primary">
                      <h4 class="card-title">The	password reset link	was	invalid,possibly because	it	has	already	been	used.	Please	request	a	new	password	reset :(</h4>
                  
                    </div>	
                {%	endif	%}
                </div>
            </div>
              
       
          </div>
        </div>
    </div>

{%endblock%}


