{%	extends	"tbase.html"	%}
{% block style%}

{% endblock %}
{%block panel%}Student Resident{%endblock%}

{%	block	title	%}address{%	endblock	%}
{%	block	content	%}
{% include 'messages.html' %}

{% include 'students/manage/student/student_dash.html' %}


 
    
    {% if resident%}


    <div class="row">
     <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title ">Student Resident</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>House No. / street</th>
                  <th>City</th>
                  <th>District</th>
                  <th>State</th>
                  <th>country</th>
                  <th>Pincode</th>
                  <th>Update</th>
                </thead>
                <tbody>
                  
                 
                  <tr>
                    <td> {{resident.house_no}} {{resident.street}}</td>
                    <td> {{resident.city}}</td>
                    <td> {{resident.state}} </td>
                    <td> {{resident.district}} </td>
                    <td> {{resident.country}} </td>
                    <td>   {{resident.pincode}}  </td>
                    <td><a class="btn btn-primary" href="{% url "student_resident_edit" student.enrollment %}" role="button">EDIT</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
     </div>
    
      
    

  {%else%}

        <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Student Resident</h4>
                  
                </div>
                <div class="card-body">
                  <form class="login-form" method="post" action="{%url "student_resident_update"	student.enrollment	%}">
                    <div class="row">

                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">House No</label>
                          <input type="text" name="house_no" class="form-control" required>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Street</label>
                          <input type="text"  name="street" class="form-control" required>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">City</label>
                          <input type="text"  name="city" class="form-control" required>
                        </div>
                      </div>
                      
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating"> District</label>
                          <input type="text"  name="district" class="form-control" required>
                        </div>
                      </div>
                      
                        <div class="col-md-4">
                            <div class="form-group">
                              <label class="bmd-label-floating">State</label>
                              <input type="text"  name="state" class="form-control" required>
                            </div>
                          </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Country</label>
                          <input type="text" name="country" class="form-control" required>
                        </div>
                      </div>
                 
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="bmd-label-floating">pincode</label>
                        <input type="text"  name="pincode" class="form-control" required>
                      </div>
                    </div>
                    </div>
  
      <button type="submit" class="btn btn-primary pull-right" >Save</button>
      
      {%	csrf_token	%}
    </form>
 

</div>
</div>
</div>

{% endif%}
{%endblock%}
    
    