
{%	extends	"hbase.html"	%}
{%	block	title	%}My students {% endblock	%}
{%block panel%}My Student{%endblock%}
{% block style %}

{% endblock%}
{%	block	content	%}		
{% include 'messages.html' %}



<div style="overflow-x:auto;" class="card-body">
       
  <div class="form">
   
       <form class="form-inline" action="{%url "teacher_student_list" request.user.pk %}" method="get">
          
           <input type="text" name="query" id="query">
           <button  class="btn btn-primary" type="submit"><i class="fa fa-search"></i> Search</button>
          
       </form>
       </div>
    </div>


{% if all_student %}
<div class="row">
 {% for student in all_student%}  
    {%if student %}
      <div class="col-md-12">
      
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title "> Batch -{{student.0.batch}}  </h4>
           
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  
                    <th>IMAGE</th>
                    <th>ENROLLMENT</th>
                     <th>NAME</th>
                     
                     <th>CONTACT</th>
                     <th>E-MAIL</th>
                    
                     <th>Attendance</th>
                     <th>VIEWS</th>
                     <th>EDIT</th>
                     <th>DELETE</th>
                </thead>
                <tbody>
                 
                    {% for object in student %}
        
                    <tr>
                        <td><img src="/media/{{object.photo}}/" width="80px" height="40px"></td>
                        <td>{{object.enrollment.upper}}</td>
                        <td>{{object.first_name.upper}} {{object.last_name.upper}}</td>
                        <td>{{object.phone}}</td>
                        <td>{{object.Email}}</td>
                        
                      
                        
                        <td><a class="btn btn-info" role="button" href="{%url	"student_attendance_view"	object.enrollment	%}"   > <i class="fa fa-line-chart"></i> Attendance</a></td>
                        <td><a class="btn btn-success" role="button" href="{%url	"student_list"	object.enrollment	%}"   > <i class="fa fa-eye"></i> VIEWS</a></td>
                        <td><a class="btn btn-primary" href="{% url "teacher_student_dash" object.enrollment %}" role="button"><i class="fa fa-edit"></i> EDIT</a></td>
                        <td> <a class="btn btn-danger" href="{%	url	"student_delete" object.enrollment	%}" role="button"><i class="fa fa-trash-o"></i> Delete</a></td>
                       
                      </tr>
          
                    {% endfor %}
            
              
          
               </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      {%endif%}
      {% endfor%} 

      </div>
{%else%}

    <div class="col-md-12">
      <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title "> No Student Found ! </h4>
          </div>
   
      </div>
  </div>
  </div>
{% endif%}



{%endblock %}


