{%	extends	"tbase.html"	%}
{% block style%}

{% endblock %}
{%block panel%}TG Call{%endblock%}

{%	block	title	%}tgcall {%	endblock	%}
{%	block	content	%}
{% include 'messages.html' %}

{% include 'students/manage/student/student_dash.html' %}



    
{% if object_list%}


<div class="row">
 
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title ">Student TG Call</h4>
       
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
            <th>Enrollment</th>
      <th>Sem</th>
      <th>Date</th>
      <th>Contact No</th> 
      <th>Contact Person</th>
      <th>Reason Of Caliing</th>
      <th>Description</th>
      <th>Faculty</th>
            </thead>
            <tbody>
              {% for student in object_list %}
              <tr>
                <td> {{student.enrollment}} </td>
                <td> {{student.sem}} </td>
                <td> {{student.date}} </td>
                <td> {{student.contact_no}} </td>
                <td> {{student.contact_person}} </td>
                <td> {{student.reason}} </td>
                <td> {{student.description}} </td>
                <td>{{student.faculty}}</td>
              </tr>
          
              {% endfor%}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
 

  </div>
  {% endif%}


  

        <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">TG Call</h4>
                  
                </div>
                <div class="card-body">
                  <form class="login-form" method="post" action="{%url "tgcalling"	student.enrollment	%}">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Date</label>
                          <input type="date" name="date" class="form-control" required>
                        
                          
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Contact no</label>
                          <input type="text" name="contact_no" class="form-control" required>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Contact Person</label>
                          <input type="text"  name="contact_person" class="form-control" required>
                        </div>
                      </div>
                      
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                              <label class="bmd-label-floating">Reason</label>
                              <input type="text"  name="reason" class="form-control" required>
                            </div>
                          </div>
                      <div class="col-md-8">
                        <div class="form-group">
                          <label class="bmd-label-floating">Description</label>
                          <input type="textarea" name="description" class="form-control" required>
                        </div>
                      </div>
                     
                     
                    </div>
                  


      <button type="submit" class="btn btn-primary pull-right" >Save</button>
      
      {%	csrf_token	%}
    </form>
 

</div>
</div>
</div>


{%endblock%}
    
    