
{%	extends	"hbase.html"	%}
{% block style%}
img {
    border-radius: 50%;
  }
{% endblock %}

{%	block	title	%}hod dashboard{%	endblock	%}
 {% block panel %}Dashboard{% endblock%}
{%	block	content	%}
		
{% include 'messages.html' %}
            

  

<div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">content_copy</i>
                  </div>
                 
                  <p class="card-category">{{request.user.profile.department.upper}} Department</p>
                  <h3 class="card-title">Faculty</h3>
                  
                  </h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    
                    <a href="{%url	"department_faculty"		%}"> Views Faculty</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">store</i>
                  </div>
                 
                  <p class="card-category">Subject</p>
                  <h3 class="card-title">Attendance</h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">date_range</i> 
                    <a href="#">Attendance</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-danger card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">info_outline</i>
                  </div>
                  <p class="card-category">daily</p>
                  <h3 class="card-title">Attendance</h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">local_offer</i> 
                    <a href="#">see</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-info card-header-icon">
                  <div class="card-icon">
                    <i class="fa fa-twitter"></i>
                  </div>
                  <p class="card-category">Followers</p>
                  <h3 class="card-title">+245</h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">update</i> Just Updated
                  </div>
                </div>
              </div>
            </div>
          </div>
          



{%	endblock	%}