{%extends "abase.html"%}

{%	block	title	%}Change password{%	endblock	%}
{% block content%}

{% include 'messages.html' %}
   


  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title">Password</h4>
          <p class="card-category">Change Password</p>
        </div>
  
        <div class="card-body">
          <form method="post" class="login-form" method="post" method="post" action="{% url 'admin_pass_change'%}">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  {{	form.as_p	}}
                  {%	csrf_token	%}	
                </div>
              </div>
          
       <button class="btn btn-primary pull-right" type="submit" >Change</button>
              
             
              
              
            </form>
          </div>
        </div>
    </div>

{% endblock%}