
    
{%	extends	"user/ubase.html"	%}
{%	block	title	%}Edit	your	account{%	endblock	%}
{%block style%}

  {%endblock%}
{%	block	content	%}

{% include 'messages.html' %}
<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">Edit Profile</h4>
        <p class="card-category">Complete your profile</p>
      </div>

      <div class="card-body">
        <form class="login-form"method="post" action="/account/student_edit/" enctype="multipart/form-data">
       
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                {{	user_form.as_p	}}				
            {{	profile_form.as_p	}}				
            {%	csrf_token	%}		
              </div>
            </div>
        
     <button class="btn btn-primary align-self-center mx-auto" type="submit" >Update</button>
            
           
            
            
          </form>
        </div>
      </div>
  </div>
{%	endblock	%}
    

    