
{%	extends	"hbase.html"	%}
{%	block	title	%} class {% endblock	%}
{% block style %}

{% endblock%}
{%	block	content	%}	
{% include 'messages.html' %}



   
<div class="row">
    
  <div class="col-md-8">
      <div class="card card-profile">
          <div class="card-header card-header-primary">
           
              <p class="card-title"> Class in {{request.user.profile.department.upper}} Department</p>
          </div>
        <div class="card-body">
         
          <form class="login-form" method="POST" action="{% url 'class_view'%}" enctype="multipart/form-data">
           <div class="row">
              <div class="col-md-12">
                  <div class="form-group">
                    <label class="bmd-label-floating">Year</label>
                    <input type="number" class="form-control" name="year" required>
                  </div>
                </div>
            
  </div>          
  <button type="submit" class="btn btn-primary pull-right" >Submit</button>   
      {%	csrf_token	%}
              </form>
        </div>
      </div>
    </div>
  </div>

{% if object_list%}


    <div class="row">
      
      {% for objects in object_list %}
        
      <div class="col-md-12">
      
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title ">Class :- {{objects.0.class_id}} </h4>
           
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>Subject Name</th>
                  <th>Subject_code</th>
                  <th>Subject Type</th>
                  <th>Teacher</th> 
                   <th>Profile</th>
            
                </thead>
                <tbody>
                 
                  {% for s in objects %}
      <tr>
    
      <td>{{s.subject_id.subject_name}}</td>
      <td>{{s.subject_id.subject_code}}</td>
      <td>{{s.subject_id.subject_type}}</td>
      <td>{{s.teacher_id.first_name}} {{s.teacher_id.last_name}}</td>
      <td> <img src="/media/{{s.teacher_id.profile.photo}}/" height="100px" width="100px"></td>
     

          
    </tr>
{% endfor%}    

    
            
             

               </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      {% endfor%} 

      </div>
      {% endif%}


{% endblock%}
