{%	extends	"tbase.html"	%}
            {% block style%}
            img {
                border-radius: 50%;
              }
            {% endblock %}
            
            {%	block	title	%}teacher profile{%	endblock	%}
            {% block panel %}Profile{% endblock%}
            {%	block	content	%}
                    
            {% include 'messages.html' %}
                
                <div class="row">
                    <div class="col-md-8">
                      <div class="card">
                        <div class="card-header card-header-primary">
                          <h4 class="card-title">My Profile</h4>
                          <p class="card-category">Complete about me</p>
                        </div>
                        <div class="card-body">
                          <form>
                            <div class="row">
                              <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Username</label>
                                   -  {{request.user.username}}
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label class="bmd-label-floating">Name</label>
                                 - {{request.user.first_name.upper}} {{request.user.last_name.upper}}
                                </div>
                              </div>
                             
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                      <label class="bmd-label-floating">Email </label>
                                     - {{request.user.email}}
                                    </div>
                                  </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label class="bmd-label-floating">Conatct</label>
                          
                                  - {{request.user.profile.contact_no}}
                                </div>
                              </div>
                             
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                      <label class="bmd-label-floating">Date of Birth</label>
                                      - {{request.user.profile.date_of_birth}}
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label class="bmd-label-floating">Date of Jioning</label>
                                      - {{request.user.profile.join_date}}
                                    </div>
                                  </div>

                            </div>
                            <div class="row">
                              <div class="col-md-8">
                                <div class="form-group">
                                  <label class="bmd-label-floating">Adress</label>
                                  {{request.user.profile.city_town_area}}
                                  {{request.user.profile.District}}
                                  {{request.user.profile.state}}
                                  {{request.user.profile.country}}
                                </div>
                              </div>
                              <div class="col-md-4">
                                <div class="form-group">
                                  <label class="bmd-label-floating">Postal Code</label>
                                  {{request.user.profile.pincode}}
                                </div>
                              </div>
                            </div>
                            
                            <div class="row">
                              <div class="col-md-12">
                                <div class="form-group">
                                  <label>About Me</label>
                                  <div class="form-group">
                                 Student in {{request.user.profile.department}} department
                                    
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="card card-profile">
                        <div class="card-avatar">
                   
                            <img class="img" src="/media/{{request.user.profile.photo}}/"  />
                      
                        </div>
                        <div class="card-body">
                          <h6 class="card-category text-gray">{{request.user.profile.designation.upper}} of {{request.user.profile.department.upper}} Department</h6>
                          <h4 class="card-title">{{request.user.first_name.upper}} {{request.user.last_name.upper}}</h4>
                          
                        </div>
                        <button class="btn btn-info"> <a style="color: white;"href="{%	url	"edit"	%}"><i class="fa fa-user-circle-o"></i> Profile </a></button>
                        <button class="btn btn-primary"><a style="color: white;" href="{%	url	"password_change"	%}"><i class="fa fa-lock"></i> Change password</a></button>
                      </div>
                      
                     </div>
     </div>
         
            {%	endblock	%}