{%	extends	"user/ubase.html"	%} {% block title %}practical {% endblock %} 
    {% block panel%}
    Practical
     {% endblock%}
    {% block content %}
    {% include 'messages.html' %}
        {% if mark%}                   	



    
        <div class="row">
          <div class="col-md-12">
            <div class="card-header card-header-primary">
                <h4 class="card-title ">
                 Class {{student.branch.upper}} {{student.sem}} {{student.sec}}&nbsp;&nbsp;&nbsp;
                   Subject - {{subject.subject_name}} {{subject.subject_code}} ({{subject.subject_type}})
                </h4>
               
            </div>
             <div class="card">
               <div class="card-header card-header-primary">
                 <h4 class="card-title ">Practical Mark</h4> 
                
               </div>
               <div class="card-body">
                 <div class="table-responsive">
                   <table class="table">
                     <thead class=" text-primary">
                        <th>Practical No</th>
                        <th> Total Mark</th>
                        <th> Obtain Mark</th>
                      
     
                      
                     </thead>
                     <tbody>
                       
                        {% for m in mark%}
                        <tr>
                            
                           
                        <td>{{m.practical_no}}</td>
                        <td>{{m.total_mark}}</td>
                        <td>{{m.obtain_mark}}</td>
                        
                     
                        </tr>
        
                        {%endfor%}
                     </tbody>
                   </table>
                 </div>
               </div>
             </div>
           </div>
          </div>
         
        
        
        
        
        {% endif %}
    
        {%endblock %}